/***************/
/* All      */
/***************/

body {
   margin: 0 0 0 0;
   padding: 0;
   box-sizing: border-box;
}

h2 {
   margin: 0;
   margin-block-start: 0;
   margin-block-end: 0;
}

/***************/
/* Header      */
/***************/

header {
   background-color: black;
   color: white;
   width: 100%;
   height: 100px;
   display: flex;
   justify-content: left;
   align-items: center;
}

.containerHeader {
   width: 80%;
   display: flex;
   justify-content: space-between;
   font-size: 24px;
   font-weight: 400;
}

nav {
   min-width: 150px;
   width: 20%;
   display: flex;
   justify-content: space-between;
}

.titleHeader {
   min-width: 130px;
   width: 20%;
   display: flex;
   justify-content: center;
   font-size: 24px;
   font-weight: 400;
   margin: 0;


}

.navHeaderItem {
   padding: 0 10px 0 10px;
}

/***************/
/* Main        */
/***************/

main {
   /* width: 100%; */
   border: 2px solid yellow;
}

/***************/
/* Best movie  */
/***************/

#bestMovie {
   /* width: 100%; */
   min-height: 250px;
   max-height: 400px;
   margin: 5px;
   border: 1px solid red;
   display: flex;
   justify-content: center;

}

#containerBestMovie {
   min-width: 700px;
   max-width: 1000px;
   border: 1px solid grey;
   display: flex;
   justify-content: space-between;
}

#containerBestMovieText {
   width: 70%;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   border: 1px solid red;
}

#BestMovieTitle {
   display: flex;
   justify-content: center;
   width: 90%;
   overflow: hidden;
   font-size: 26px;
   padding-left: 20px;

}

#containerDescription {
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 20px;
}

#containerBestMovieText button {
   display: block;
   width: fit-content;

}

#containerBestMovieText button:hover {
   cursor: pointer;

}

#bestMovie img {
   width: 200px;
   height: 300px;
   object-fit: contain;
}

#bestMovie img:hover {
   cursor: pointer;
}

@media (max-width: 720px) {
   #bestMovie {
      max-height: 600px;
   }

   #containerBestMovie {
      flex-direction: column-reverse;
      align-items: center;
      min-width: 380px;
      max-width: 510px;
   }

   #containerBestMovieText {
      width: 95%;
      align-items: center;
   }

   #BestMovieTitle {
      flex-direction: column;
      align-items: center;
   }
}

@media(max-width:600px) {
   #BestMovieTitle {
      font-size: 24px;
   }

   #containerBestMovieText {
      height: auto;
   }

   #containerDescription {
      height: auto;
      padding-left: 5px;
   }

   #containerBestMovieImage {
      width: 80%;
   }

   #containerBestMovieImage img {
      width: 100%;
      object-fit: contain;
   }
}

/***************/
/* Sliders */
/***************/

.containerArrows {
   position: relative;
   width: 90vw;
   border: 1px solid yellow;
   display: flex;
   justify-content: center;
}

.arrowLeft {
   position: absolute;
   font-size: larger;
   left: 2vw;
   top: 14vw;
   user-select: none;
   display: none;
}

.arrowLeft:hover {
   transform: scale(1.4, 1.4);
   cursor: pointer;
}

.arrowRight {
   position: absolute;
   font-size: larger;
   right: 2vw;
   top: 14vw;
   user-select: none;
   display: none;
}

.arrowRight:hover {
   transform: scale(1.4, 1.4);
   cursor: pointer;
}

.windowSlider {
   position: relative;
   display: flex;
   flex-direction: row;
   width: 80vw;
   border: 1px solid orange;
   overflow: hidden;
}

.containerImagesSlider, .containerNoFilm {
   display: flex;
   flex-direction: row;
   width: 200vw;
   transition: .3s;
}

.containerImagesSlider {
   background-color: transparent;
}

.containerNoFilm {
   position: absolute;
   left: 0;
   top: 0;
   z-index: -20;
}

.no_film {
   background-image: url("../pictures/pas-de-film-ici.jpg");
   background-size: contain;
}

.containerImage {
   width: 20vw;
   height: 29vw;
   object-fit: cover;
}

.containerImage img {
   width: 20vw;
   height: 29vw;

}

.containerImagesSlider img:hover {
   cursor: pointer;
}

.slider {
   margin: 5px;
   border: 1px solid green;
   display: flex;
   flex-direction: column;
   align-items: center;

}

.categoryTitle {
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 20px;

}


/* This media query must be adjust in relation with script.js */
@media(max-width:600px) {
   .windowSlider {
      flex-direction: column;
      height: 58vw;
   }

   .containerArrows {
      height: 58vw
   }

   .containerImagesSlider, .containerNoFilm {
      width: 80vw;
      height: 116vw;
      flex-wrap: wrap;
   }

   .containerImage {
      width: 40vw;
      height: 58vw;
   }

   .containerImage img {
      width: 40vw;
      height: 58vw;

   }

   .arrowLeft {
      transform: rotate(90deg);
      left: 1vw;
      top: 26vw;
   }

   .arrowRight {
      transform: rotate(90deg);
      right: 1vw;
      top: 26vw;
   }

   .arrowLeft:hover {
      transform: rotate(90deg) scale(1.4, 1.4);
   }

   .arrowRight:hover {
      transform: rotate(90deg) scale(1.4, 1.4);
   }
}

/***************/
/* Modal      */
/***************/

.modal {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   width: 80%;
   height: 80%;
   overflow: auto;
   border: none;
}

.containerModal {
   box-sizing: border-box;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
}

#modalClose {
   position: absolute;
   padding: 0;
   width: 20px;
   height: 20px;
   right: 0px;
   top: 0px;
}

#modalClose:hover {
   background-color: red;
   color: white;
   border: none;
   cursor: pointer;
   transition: .3s;
}

.containerModal0 {
   width: 100%;
   height: 50%;
   display: flex;
   justify-content: space-between;

}

.containerModal1 {
   width: 70%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.containerModal1-1 {
   width: 70%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   text-align: center;
}

#modalTitle {
   width: 100%;
   height: 80%;
   padding-top: 15px;
   font-size: 24px;
}

#modalYear {
   padding-top: 15px;
   width: 100%;
   height: 20%;
   font-size: 20px;
}

.containerModal1-2 {
   width: 30%;
   height: 100%;
   max-height: 300px;
   /* display: flex;
   justify-content: center; */
}

.modalPicture {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.containerModal2 {
   width: 30%;
   display: flex;
   flex-direction: column;
   text-align: center;
   overflow: hidden;
}

.containerModal2-1 {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

#modalGenres {
   padding-top: 10px;
}

#modalDuration {
   padding-top: 10px;
}

#modalRating {
   padding-top: 10px;
}

#modalSynopsis {
   padding-top: 10px;
   font-size: 14px;
}

.containerModal3 {
   width: 100%;
   height: 50%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   font-size: 18px;

}

.containerModal3-1 {
   width: 50%;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   text-align: center;
}

.containerModal3-2 {
   width: 50%;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   text-align: center;

}

#modalCountry {
   width: 100%;

}

.containerModal3-2-1 {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

#modalScore {
   width: 50%;
}

#modalResult {
   width: 50%;
}

@media (max-width: 1200px) {
   .modal {
      width: 100%;
      height: 100%;
   }
}

@media(max-width: 1000px) {
   .containerModal0 {
      flex-direction: column;
      height: auto;
   }

   .containerModal1 {
      width: 100%;
      height: auto;
   }

   .containerModal1-1 {
      width: 80%;
   }

   .containerModal1-2 {
      width: 20%;
   }

   .containerModal2 {
      width: 100%;
      height: auto;
   }

   .containerModal2-1 {
      flex-direction: row;
   }

   .containerModal3 {
      width: 100%;
      flex-direction: column;
      height: auto;
   }

   .containerModal3-1 {
      width: 100%;
   }

   .containerModal3-2 {
      width: 100%;
   }



}

@media(max-width: 720px) {

   .containerModal {
      width: 100%;
      height: auto;
      overflow: scroll;
   }

   .containerModal1 {
      width: 100%;
      height: auto;
      flex-direction: column-reverse;
   }

   .containerModal1-1 {
      width: 100%;
      height: auto;
   }

   .containerModal1-1-1 {
      height: auto;
   }

   .containerModal1-2 {
      width: 100%;
      height: auto;
      max-height: initial;
   }

   .containerModal2 {
      height: auto;
   }

   .containerModal2-1 {
      flex-direction: column;
   }

   .containerModal3 {
      flex-direction: column;
      height: auto;
   }

   .containerModal3-1 {
      width: 100%;
   }

   .containerModal3-2 {
      width: 100%;
   }
}

/***************/
/* Footer      */
/***************/